.footer {
    padding: 15px 0;
    border-top: 8px solid $gray-2;
    background-color: $white;
    text-align: center;

    .container {
        .partner {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            @media screen and (max-width: 991px) {
                flex-direction: column;
            }

            p {
                margin-right: 8px;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: -0.56px;

                @media screen and (max-width: 991px) {
                    margin-bottom: 15px;
                    margin-right: 0;
                }
            }
            
            .button-default {
                padding: 8px;
            }
        }
    }
}